{% extends "base.html.twig" %}

{% block body %}
    Rejstracja

    <form action="{{ url('register') }}" method="post">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
    </form>
{% endblock %}

